.aula {
	display: block;
	border: 1px solid black;
	color: white;
	background-color: grey;
	text-align: center;
}

.aula.presente { background-color: green; }
.aula.falta { background-color: red; }
.aula.falta-justificada { background-color: orange; }

.dia {
	display: inline-block;
	width: 14%;
	vertical-align: top;
}